* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: azure;
}

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}

.container {
    width: 90%;
    margin: 25px auto;

}

.dot_Hover_Label {
    width: 150px;
    height: 120px;
    padding: 20px;
    border: 2px dashed blueviolet;
    border-radius: 5px;
    text-align: center;

    >p {
        padding: 10px;
        color: black;
        font-size: 14px;
    }

    >p:nth-child(2):hover {
        color: red;
        font-weight: 900;

    }
}

.content {
    color: blueviolet;
}

.dot_hover {
    color: blueviolet;
}

.box {
    margin-right: 170px;
    width: 120vh;
    height: 70px;
    border-radius: 5px;
    color: #000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

}

.box_hover_label {
    width: 150px;
    height: 120px;
    padding: 20px;
    border: 2px dashed blueviolet;
    border-radius: 5px;
    text-align: center;

    >p {
        padding: 10px;
        color: black;
        font-size: 14px;
    }

    >p:nth-child(2):hover {
        border: 2px solid red;
        color: red;

    }
}

.box_hover {
    color: blueviolet;
}

.underline {
    width: 150px;
    height: 120px;
    padding: 20px;
    border: 2px dashed blueviolet;
    border-radius: 5px;
    text-align: center;

    >p {
        padding: 10px;
        color: black;
        font-size: 14px;
    }

    >p:nth-child(2):hover {
        text-decoration: underline;
        color: red;
    }
}

.underline_hover {
    color: blueviolet;
}